<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptatem officiis ex neque vero minima harum dolores non aut mollitia ut autem nihil maxime doloremque temporibus illum dolorem inventore, laudantium, soluta ullam sint! Eveniet tempora, placeat blanditiis neque dolore impedit.</p>
    </div>
</div>