<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and FireBase</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem rerum quos dolore culpa adipisci alias distinctio nihil porro facere dignissimos at, similique aliquam praesentium unde suscipit labore delectus expedita? Excepturi.</p>
    <a href="https://github.com/Xperiment626" class="btn btn-primary btn-lg">Github</a>
</div>