.jumbotron {
    background: white;
    border-radius: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 20px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 10px;
}

body {
    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#no-notes-card {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: white;
}

.login-header {
    color: black;
}

.logo {
    width: 50%;
}

#title_nav {
    font-size: 25px;
}