<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h1 class="login-header">Account Login</h1>
            </div>
            <img src="/images/login.png" class="rounded-circle mx-auto d-block m-4 logo img-fluid" alt="logo">
            <div class="card-body">
                <form action="/users/signin" method="post">
                    <div class="form-group mb-2">
                        <input type="email" name="email" class="form-control" placeholder="email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="password" autofocus>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block col-12">Login</button>
                    </div>
                </form>
                <form action="/users/signup" method="get">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block col-12 mt-2">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>